.parent{
  background-color:rgb(119, 235, 244);
  color: black;
  padding: 1%;
  height: 10000px;
}

.child-one{
  color: black;
  background-color: lightgreen;
  position: relative;  
  /* relative to its normal position if static was used, removed from normal document flow but space is not removed */
  left: 10px;
  top: 10px;
}

.child-two{
  color: black;
  /* position: absolute;  */
  /* top: 0; */
   /* also breaks from normal flow but relative to the nearest non static element, generally relative */
   /* fixed is relative to the viewport and does not move with scrolling*/
  background-color: lightcoral;
}

.child-three{
  color: black;
  position: sticky;
  top: 0;
  /* sticky position is relative to the viewport and will stick to the top of the viewport when scrolling */
  background-color: pink;
}

/* by default position is static */

